<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="intern.popular.gps_popular"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="androidx.car.app.NAVIGATION_TEMPLATES" />
    <uses-permission android:name="androidx.car.app.ACCESS_SURFACE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="androidx.car.app.MAP_TEMPLATES" /> <!-- Various required feature settings for an automotive app. -->

    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />
    <uses-feature
        android:name="android.software.car.templates_host"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />

    <application
        android:extractNativeLibs="false"
        android:label="@string/app_name">

        <meta-data
            android:name="com.android.automotive"
            android:resource="@xml/automotive_app_desc"
            tools:ignore="MetadataTagInsideApplicationTag" />
        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1"
            tools:ignore="MetadataTagInsideApplicationTag" />


        <service
            android:name=".MiBanco"
            android:exported="true"
            android:foregroundServiceType="location">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />

                <category android:name="androidx.car.app.category.POI" />
            </intent-filter>
        </service>


        <activity
            android:name="androidx.car.app.activity.CarAppActivity"
            android:exported="true"
            android:label="Navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.car.app.action.POI" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="geo" />
            </intent-filter>



            <meta-data
                android:name="distractionOptimized"
                android:value="true" />
        </activity>
    </application>

</manifest>